.sliderContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.iosSlider {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 1024px;
	height: 681px;
}

.iosSlider .slider {
	width: 100%;
	height: 100%;
}

.iosSlider .slider .item {
	float: left;
	width: 1140px;
	height: 300px;
}

.iosSlider .slider .item {
	background: #aaa;
}

.iosSlider .slider .item1 {
	background: url(../../../_resources/h-slider-1-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item2 {
	background: url(../../../_resources/h-slider-2-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item3 {
	background: url(../../../_resources/h-slider-3-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item4 {
	background: url(../../../_resources/h-slider-4-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item5 {
	background: url(../../../_resources/h-slider-5-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item6 {
	background: url(../../../_resources/h-slider-1-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item7 {
	background: url(../../../_resources/h-slider-2-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item8 {
	background: url(../../../_resources/h-slider-3-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item9 {
	background: url(../../../_resources/h-slider-4-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item10 {
	background: url(../../../_resources/h-slider-5-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item11 {
	background: url(../../../_resources/h-slider-1-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item12 {
	background: url(../../../_resources/h-slider-2-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item13 {
	background: url(../../../_resources/h-slider-3-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item14 {
	background: url(../../../_resources/h-slider-4-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item15 {
	background: url(../../../_resources/h-slider-5-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item16 {
	background: url(../../../_resources/h-slider-1-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item17 {
	background: url(../../../_resources/h-slider-2-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item18 {
	background: url(../../../_resources/h-slider-3-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item19 {
	background: url(../../../_resources/h-slider-4-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item20 {
	background: url(../../../_resources/h-slider-5-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item21 {
	background: url(../../../_resources/h-slider-1-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item22 {
	background: url(../../../_resources/h-slider-2-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item23 {
	background: url(../../../_resources/h-slider-3-l.jpg) no-repeat 0 0;
}

.iosSlider .slider .item24 {
	background: url(../../../_resources/h-slider-4-l.jpg) no-repeat 0 0;
}