body {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background: #eee url(../img/bg-test-2.png) repeat 0 0;
	font: 14px/17px Helvetica Neue, Helvetica, Arial, Sans-serif;
}

p {
	margin: 5px 0 5px 0;
}

.debug {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 100px;
	background: #fff;
	border: 1px solid #000;
	z-index: 20;
	display: none;
}

/* defalut */
.default-slider-container {
	position: relative;
	top: 0;
	left: 0;
	width: 1042px;
	height: 200px;
}

.default-slider-container .goToBlock {
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 200px;
}

.default-slider-container .goToBlock .go {
	width: 36px;
	height: 36px;
	background: #aaa;
	margin: 0 0 5px 0;
	cursor: pointer;
}

.default-slider {
	position: relative;
	overflow: hidden;
	width: 1000px;
	height: 200px;
}

.default-slider .next {
	position: absolute;
	top: 79px;
	right: 10px;
	width: 40px;
	height: 40px;
	border: 1px dotted #ddd;
	background: #000;
}

.default-slider .prev {
	position: absolute;
	top: 79px;
	left: 10px;
	width: 40px;
	height: 40px;
	border: 1px dotted #ddd;
	background: #000;
}

.default-slider .slider {
	height: 100%;
}

.default-slider .slider .item {
	width: 1000px;
	height: 100%;
}

.default-slider .slider #item1 {
	background: #666;
}

.default-slider .slider #item2 {
	background: #999;
}

.default-slider .slider #item3 {
	background: #aaa;
}

.default-slider .slider #item4 {
	background: #ddd;
}

.default-slider .slider #item5 {
	background: #777;
}

/* snap */
.snap-slider {
	position: relative;
	overflow: hidden;
	width: 1000px;
	height: 200px;
}

.snap-slider .slider {
	height: 100%;
}

.snap-slider .slider .item {
	width: 1000px;
	height: 100%;
}

.snap-slider .slider #item1 {
	background: #666;
}

.snap-slider .slider #item2 {
	background: #999;
}

.snap-slider .slider #item3 {
	background: #aaa;
}

.snap-slider .slider #item4 {
	background: #ddd;
}

.snap-slider .slider #item5 {
	background: #777;
}

/* infinite */
.responsive-container {
	width: 1000px;
	height: 200px;
}

.infinite-slider {
	position: relative;
	overflow: hidden;
	width: 1200px;
	height: 300px;
}

.infinite-slider .slider {
	height: 100%;
}

.infinite-slider .slider .item {
	width: 1000px;
	height: 100%;
}

.infinite-slider .slider #item1 {
	background: #666;
}

.infinite-slider .slider #item2 {
	background: #999;
}

.infinite-slider .slider #item3 {
	background: #aaa;
}

.infinite-slider .slider #item4 {
	background: #ddd;
}

.infinite-slider .slider #item5 {
	background: #777;
}

/* responsive */
.responsive-slider {
	position: relative;
	overflow: hidden;
	width: 1000px;
	height: 200px;
}

.responsive-slider .slider {
	height: 100%;
}

.responsive-slider .slider .item {
	width: 1000px;
	height: 100%;
}

.responsive-slider .slider #item1 {
	background: #666;
}

.responsive-slider .slider #item2 {
	background: #999;
}

.responsive-slider .slider #item3 {
	background: #aaa;
}

.responsive-slider .slider #item4 {
	background: #ddd;
}

.responsive-slider .slider #item5 {
	background: #777;
}

/* autoslide */
.autoslide-slider1,
.autoslide-slider2,
.autoslide-slider3 {
	position: relative;
	overflow: hidden;
	width: 1000px;
	height: 200px;
}

.autoslide-slider1 .slider,
.autoslide-slider2 .slider,
.autoslide-slider3 .slider {
	height: 100%;
}

.autoslide-slider1 .slider .item,
.autoslide-slider2 .slider .item,
.autoslide-slider3 .slider .item {
	width: 1000px;
	height: 100%;
}

.autoslide-slider1 .slider .item .linkBlock,
.autoslide-slider2 .slider .item .linkBlock {
	float: left;
	width: 300px;
	height: 198px;
	border: 1px dotted #ddd;
	background: #000;
}

.autoslide-slider1 .slider #item1,
.autoslide-slider2 .slider #item1,
.autoslide-slider3 .slider #item1 {
	background: #666;
}

.autoslide-slider1 .slider #item2,
.autoslide-slider2 .slider #item2,
.autoslide-slider3 .slider #item2 {
	background: #999;
}

.autoslide-slider1 .slider #item3,
.autoslide-slider2 .slider #item3,
.autoslide-slider3 .slider #item3 {
	background: #aaa;
}

.autoslide-slider1 .slider #item4,
.autoslide-slider2 .slider #item4,
.autoslide-slider3 .slider #item4 {
	background: #ddd;
}

.autoslide-slider1 .slider #item5,
.autoslide-slider2 .slider #item5,
.autoslide-slider3 .slider #item5 {
	background: #777;
}

.autoslide-slider2-container {
	position: relative;
	top: 0;
	left: 0;
	width: 1042px;
	height: 200px;
}

.autoslide-slider2-container .goToBlock {
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 200px;
}

.autoslide-slider2-container .goToBlock .go {
	width: 36px;
	height: 36px;
	background: #aaa;
	margin: 0 0 5px 0;
	cursor: pointer;
}

.autoslide-slider2 .next,
.autoslide-slider3 .next {
	position: absolute;
	top: 79px;
	right: 10px;
	width: 40px;
	height: 40px;
	border: 1px dotted #ddd;
	background: #000;
}

.autoslide-slider2 .prev,
.autoslide-slider3 .prev {
	position: absolute;
	top: 79px;
	left: 10px;
	width: 40px;
	height: 40px;
	border: 1px dotted #ddd;
	background: #000;
}

/* variable size slides */
.variable-width-slider {
	position: relative;
	overflow: hidden;
	width: 1000px;
	height: 200px;
}

.variable-width-slider .slider {
	height: 100%;
}

.variable-width-slider .slider .item {
	height: 100%;
}

.variable-width-slider .slider #item1 {
	width: 500px;
	background: #666;
}

.variable-width-slider .slider #item2 {
	width: 400px;
	background: #999;
}

.variable-width-slider .slider #item3 {
	width: 500px;
	background: #aaa;
}

.variable-width-slider .slider #item4 {
	width: 400px;
	background: #ddd;
}

.variable-width-slider .slider #item5 {
	width: 600px;
	background: #666;
}

/* short size slides */
.short-width-slider {
	position: relative;
	overflow: hidden;
	width: 1000px;
	height: 200px;
}

.short-width-slider .slider {
	height: 100%;
}

.short-width-slider .slider .item {
	width: 250px;
	height: 100%;
}

.short-width-slider .slider #item1 {
	background: #666;
}

.short-width-slider .slider #item2 {
	background: #999;
}

.short-width-slider .slider #item3 {
	background: #aaa;
}

.short-width-slider .slider #item4 {
	background: #ddd;
}

.short-width-slider .slider #item5 {
	background: #777;
}

/* destroy */
.destroy-slider {
	position: relative;
	overflow: hidden;
	width: 1000px;
	height: 200px;
}

.destroy-slider .slider .item .linkBlock {
	float: left;
	width: 300px;
	height: 198px;
	border: 1px dotted #ddd;
	background: #000;
}

.destroy-slider .slider {
	height: 100%;
}

.destroy-slider .slider .item {
	width: 1000px;
	height: 100%;
}

.destroy-slider .slider #item1 {
	background: #666;
}

.destroy-slider .slider #item2 {
	background: #999;
}

.destroy-slider .slider #item3 {
	background: #aaa;
}

.destroy-slider .slider #item4 {
	background: #ddd;
}

.destroy-slider .slider #item5 {
	background: #777;
}

.destroy-slider-container {
	position: relative;
	top: 0;
	left: 0;
	width: 1084px;
	height: 200px;
}

.destroy-slider-container .goToBlock {
	position: absolute;
	top: 0;
	right: 42px;
	width: 36px;
	height: 200px;
}

.destroy-slider-container .goToBlock .go {
	width: 36px;
	height: 36px;
	background: #aaa;
	margin: 0 0 5px 0;
	cursor: pointer;
}

.destroy-slider-container .destInitBlock {
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 200px;
}

.destroy-slider-container .destInitBlock .dest,
.destroy-slider-container .destInitBlock .init {
	width: 36px;
	height: 36px;
	background: #aaa;
	margin: 0 0 5px 0;
	cursor: pointer;
}

.destroy-slider .next {
	position: absolute;
	top: 79px;
	right: 10px;
	width: 40px;
	height: 40px;
	border: 1px dotted #ddd;
	background: #000;
}

.destroy-slider .prev {
	position: absolute;
	top: 79px;
	left: 10px;
	width: 40px;
	height: 40px;
	border: 1px dotted #ddd;
	background: #000;
}

/* callback */
.callback-slider {
	position: relative;
	overflow: hidden;
	width: 1000px;
	height: 200px;
}

.callback-slider .slider .item .linkBlock {
	float: left;
	width: 300px;
	height: 198px;
	border: 1px dotted #ddd;
	background: #000;
}

.callback-slider .slider {
	height: 100%;
}

.callback-slider .slider .item {
	width: 1000px;
	height: 100%;
}

.callback-slider .slider #item1 {
	background: #666;
}

.callback-slider .slider #item2 {
	background: #999;
}

.callback-slider .slider #item3 {
	background: #aaa;
}

.callback-slider .slider #item4 {
	background: #ddd;
}

.callback-slider .slider #item5 {
	background: #777;
}

.callback-slider .paging {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 200px;
	height: 10px;
}

.callback-slider .paging .box {
	background: #333;
	border: 1px solid #000;
	opacity: 0.5;
	width: 10px;
	height: 10px;
	float: left;
	margin: 0 10px 0 0;
}

.callback-slider .paging .selected {
	opacity: 1;
}

.callback-slider-container {
	position: relative;
	top: 0;
	left: 0;
	width: 1084px;
	height: 200px;
}

.callback-slider-container .goToBlock {
	position: absolute;
	top: 0;
	right: 42px;
	width: 36px;
	height: 200px;
}

.callback-slider-container .goToBlock .go {
	width: 36px;
	height: 36px;
	background: #aaa;
	margin: 0 0 5px 0;
	cursor: pointer;
}

/* full width */
.full-width-slider {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 200px;
}

.full-width-slider .slider {
	height: 100%;
}

.full-width-slider .slider .item {
	width: 100%;
	height: 100%;
}

.full-width-slider .slider #item1 {
	background: #666;
}

.full-width-slider .slider #item2 {
	background: #999;
}

.full-width-slider .slider #item3 {
	background: #aaa;
}

.full-width-slider .slider #item4 {
	background: #ddd;
}

.full-width-slider .slider #item5 {
	background: #777;
}

/* form */
.form-slider {
	position: relative;
	overflow: hidden;
	width: 1000px;
	height: 200px;
}

.form-slider .slider {
	height: 100%;
}

.form-slider .slider .item {
	width: 100%;
	height: 100%;
}

.form-slider .slider #item1 {
	background: #666;
}

.form-slider .slider #item2 {
	background: #999;
}

.form-slider .slider #item3 {
	background: #aaa;
}

.form-slider .slider #item4 {
	background: #ddd;
}

.form-slider .slider #item5 {
	background: #777;
}

/* media query */
.media-query-slider {
	position: relative;
	overflow: hidden;
	width: 1000px;
	height: 200px;
}

@media screen and (max-width: 1000px) {

	.media-query-slider {
		width: 600px;
	}
	
}

.media-query-slider .slider {
	height: 100%;
}

.media-query-slider .slider .item {
	width: 100%;
	height: 100%;
}

.media-query-slider .slider #item1 {
	background: #666;
}

.media-query-slider .slider #item2 {
	background: #999;
}

.media-query-slider .slider #item3 {
	background: #aaa;
}

.media-query-slider .slider #item4 {
	background: #ddd;
}

.media-query-slider .slider #item5 {
	background: #777;
}